<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presencialidad</title>
    <link rel="stylesheet" href="css/team_sheet.css">
    <script src="js/team_sheet.js"></script>
</head>
<body>
    <header>
        <img src="img/DGUIAF.png" alt="">
        <nav>
            <ul>
                <li>
                    <a href="" id="menu">Brayan Aruquipa <p>▼</p></a>
                    <div id="more-info">
                        <a href="/profile">Mi perfil</a>
                        <div></div>
                        <a href="/">Cerrar sesión</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    <form action="/">
        <table>
            <tr>
                <th>Nombre Completo</th>
                <th>Frecuencia</th>
                <th>Lunes</th>
                <th>Martes</th>
                <th>Miercoles</th>
                <th>Jueves</th>
                <th>Viernes</th>
            </tr>
            <tr>
                <td>Brayan Alvaro Aruquipa Mamani</td>
                <td>
                    <select name="frequency" id="">
                        <option value="weekly">Semanal</option>
                        <option value="biweekly">Quincenal</option>
                        <option value="monthly">Mensual</option>
                    </select>
                </td>
                <td><input type="checkbox" id="monday" name="monday"></td>
                <td><input type="checkbox" id="tuesday" name="tuesday"></td>
                <td><input type="checkbox" id="wednesday" name="wednesday"></td>
                <td><input type="checkbox" id="thursday" name="thursday"></td>
                <td><input type="checkbox" id="friday" name="friday"></td>
            </tr>
            <tr>
                <td>Jhoselyn Sandra Aruquipa</td>
                <td>
                    <select name="frequency" id="">
                        <option value="weekly">Semanal</option>
                        <option value="biweekly">Quincenal</option>
                        <option value="monthly">Mensual</option>
                    </select>
                </td>
                <td><input type="checkbox" id="monday" name="monday"></td>
                <td><input type="checkbox" id="tuesday" name="tuesday"></td>
                <td><input type="checkbox" id="wednesday" name="wednesday"></td>
                <td><input type="checkbox" id="thursday" name="thursday"></td>
                <td><input type="checkbox" id="friday" name="friday"></td>
            </tr>
            <tr>
                <td>Usuario 3</td>
                <td>
                    <select name="frequency" id="">
                        <option value="weekly">Semanal</option>
                        <option value="biweekly">Quincenal</option>
                        <option value="monthly">Mensual</option>
                    </select>
                </td>
                <td><input type="checkbox" id="monday" name="monday"></td>
                <td><input type="checkbox" id="tuesday" name="tuesday"></td>
                <td><input type="checkbox" id="wednesday" name="wednesday"></td>
                <td><input type="checkbox" id="thursday" name="thursday"></td>
                <td><input type="checkbox" id="friday" name="friday"></td>
            </tr>
        </table>
        <button type="submit">Enviar</button>
    </form>

    

    <footer>

    </footer>
</body>
</html>